<div class="ui stackable grid"
     style="margin: 0;"
>
    <div class="four wide column">
{#        <div class="ui ">#}
            {% include '@AsdoriaSyliusBulkEditPlugin/Admin/Grid/Field/Taxon/Details/_main.html.twig' with {'taxon': data} %}
{#        </div>#}
    </div>
    <div class="four wide column">
        <a class="item" href="{{ path('sylius_admin_taxon_update', {'id' : data.id}) }}">
            <div class="ui horizontal tiny label">{{ 'sylius.ui.code'|trans }}</div>
            {{ data.code }}
        </a>
    </div>
    <div class="four wide column">
        <a class="item" href="{{ path('sylius_admin_taxon_update', {'id' : data.id}) }}">
            <div class="ui horizontal tiny label">{{ 'sylius.ui.name' | trans }}</div>
            {{ data.fullName }}
        </a>
    </div>
    {% if data.parent is defined and data.parent is not empty %}
    <div class="four wide column">
        <a class="item" href="{{ path('sylius_admin_taxon_update', {'id' : data.parent.id}) }}">
            <div class="ui horizontal tiny label">{{ 'sylius.ui.parent' | trans }}</div>
            {{ data.parent.fullName|default('~') }}
        </a>
    </div>
    {% endif %}
</div>

