<div class="ui stackable grid"
     style="margin: 0;"
>
    <div class="six wide column">
        <div class="content">
            <div class="header">
                <a class="number" href="{{ path('sylius_admin_product_update', {'id' : data.id }) }}">
                    <strong>{{ data.code }}</strong>
                </a>
            </div>
            <div class="description">
                <ul>
                    <li> {{ 'sylius.ui.name' | trans }} : <strong>{{ data.name }}</strong></li>
                    <li> {{ 'sylius.ui.main_taxon' | trans }} : <strong>{{ data.mainTaxon.fullname|default('~') }}</strong></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="six wide column">
        {%  include '@AsdoriaSyliusBulkEditPlugin/Admin/Grid/Field/Product/Details/_taxons.html.twig' with {'product': data} %}
    </div>
    <div class="four wide column">
        {%  include '@AsdoriaSyliusBulkEditPlugin/Admin/Grid/Field/Product/Details/_attributes.html.twig' with {'product': data} %}
    </div>
</div>
