{% extends '@SyliusAdmin/layout.html.twig' %}

{% set definition = resources.definition %}
{% set data = resources.data %}
{% set event_prefix = metadata.applicationName ~ '.admin.' ~ metadata.name ~ '.index' %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.'~metadata.pluralName) %}

{% block title %}{{ header|trans }} {{ parent() }}{% endblock %}

{% block content %}
    {% if asdoria_bulk_edit_infinite_scroll == 1 %}
        <div class="js-infinite-scroll"
             data-path="{{ path(configuration.vars.scroll_route)|default('#') }}"
             data-max-pages="{{ resources.data.getNbPages() }}">
            {{ sylius_grid_render(resources, '@AsdoriaSyliusBulkEditPlugin/Admin/Grid/_default.html.twig') }}
        </div>
        <div class="js-infinite-scroll-loading">
            {% for i in range(0, 3) %}
                <div class="Loader-block" style="margin-bottom: 0.25rem; height: 236px"></div>
            {% endfor %}
        </div>
    {% else %}
        {{ sylius_grid_render(resources, '@SyliusAdmin/Grid/_default.html.twig') }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ sylius_template_event([event_prefix ~ '.stylesheets', 'asdoria_bulk_edit.admin.index.stylesheets'], { 'metadata': metadata }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ sylius_template_event([event_prefix ~ '.javascripts', 'asdoria_bulk_edit.admin.index.javascripts'], { 'metadata': metadata }) }}
{% endblock %}
