<div class="ui ribbon mini images">
    {% set images = variant.images %}
    {% if images is empty %}
        {% set images = variant.product.images %}
    {% endif %}
    {% for image in images|slice(0, 5) %}
        <img class="ui  circular image" src="{{ image.path|imagine_filter(filter|default('sylius_admin_product_tiny_thumbnail')) }}"/>
    {% endfor %}
</div>
<div class="ui divided selection list">
    <a class="item" href="{{ path('sylius_admin_product_variant_update', {'productId': variant.product.id,'id' : variant.id}) }}">
        <div class="ui yellow horizontal tiny label">{{ 'sylius.ui.enabled'|trans }}</div>
        {% if variant.enabled  %}
            {{ 'sylius.ui.yes_label'|trans }}
        {% else %}
            {{ 'sylius.ui.no_label'|trans }}
        {% endif %}
    </a>
    <a class="item" href="{{ path('sylius_admin_product_variant_update', {'productId': variant.product.id,'id' : variant.id}) }}">
        <div class="ui red horizontal tiny label">{{ 'sylius.ui.code'|trans }}</div>
        {{ variant.code }}
    </a>
    <a class="item" href="{{ path('sylius_admin_product_variant_update', {'productId': variant.product.id,'id' : variant.id}) }}">
        <div class="ui purple horizontal tiny label">{{ 'sylius.ui.name' | trans }}</div>
        {{ variant.name }}
    </a>
</div>
