<h5 class="ui header">{{ 'sylius.ui.properties'|trans }}</h5>
<div class="ui divided selection list">
    <a class="item" href="{{ path('sylius_admin_product_variant_update', {'productId': variant.product.id,'id' : variant.id}) }}">
        <div class="ui brown horizontal tiny label">{{ 'sylius.ui.height'|trans }}</div>
        {{ variant.height }}
    </a>
    <a class="item" href="{{ path('sylius_admin_product_variant_update', {'productId': variant.product.id,'id' : variant.id}) }}">
        <div class="ui brown horizontal tiny label">{{ 'sylius.ui.width' | trans }}</div>
        {{ variant.width }}
    </a>
    <a class="item" href="{{ path('sylius_admin_product_variant_update', {'productId': variant.product.id,'id' : variant.id}) }}">
        <div class="ui brown horizontal tiny label">{{ 'sylius.ui.depth' | trans }}</div>
        {{ variant.depth }}
    </a>
    <a class="item" href="{{ path('sylius_admin_product_variant_update', {'productId': variant.product.id,'id' : variant.id}) }}">
        <div class="ui brown horizontal tiny label">{{ 'sylius.ui.weight' | trans }}</div>
        {{ variant.weight }}
    </a>
</div>
